<div class="content-area">
    <div class="archive">
        <h1 class="page-title"><%= __('about') %></h1>
        <div class="article-content entry-content markdown"><%- page.content %></div>
    </div>
</div>